TARGET_ENVIRONMENT=dev #dev | prod

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_URL=


# Generated with `openssl rand -base64 128 | tr -dc 'A-Za-z0-9' | head -c 32`
BETTER_AUTH_SECRET=
# Base app URL
BETTER_AUTH_URL=

# OAuth credentials
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
