localhost {
	# Reverse proxy requests to Deno
	# respond "Hello world"

	rewrite /adminer /adminer/
	handle_path /adminer/* {
		uri strip_prefix /adminer
		reverse_proxy adminer:8080
	}

	reverse_proxy hono-server:8000
	encode
}

dev.localhost {
        handle /api/* {
                reverse_proxy hono-server:8000
                encode
        }
	reverse_proxy frontend:4321
        encode
}
